body {
    background-image: url(https://images.prom.ua/2865171320_w640_h640_2865171320.jpg);
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 20px;
}

h1 {
    color: #1f1305;
    font-size: 24px;
}

.cartu {
    background-color: rgba(117, 74, 20, 0.7);
    display: flex;
    padding: 10px;
    border-radius: 12px;
}

.card {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
    padding: 15px;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 10px;
}

img {
    background: #fff;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 40px;
}
.price {
    font-weight: bold;
    margin: 5px 0;
}

.desc {
    font-size: 13px;
    line-height: 1.4;
    min-height: 40px;
    margin-bottom: 15px;
    color: #f0f0f0;
}

.buy-btn {
    background-color: #ffffff;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.profil {
    display: flex;
}

.cart {
    background-color: rgba(135, 88, 30, 0.7); 
    border-radius: 12px;
    padding: 15px;
    color: white;
}